.numba1 h1,.numba1 ul, .numba1 button{
    display:inline;
}
.numba1 ul li{
    display:inline;
    margin-left:100px;
}
.hi{
    width:1600px;
    height:728px;
    background-color: rgb(98, 98, 176);
}
.numba1{
background-color: rgb(11, 11, 15);
width:1525px;
height:80px;
}
h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    top:10px;
    left:20px;
}
ul{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    left:800px;
    top:20px;
}
.ee{
    background-color:rgb(48, 67, 98);
    height:50px;
    width:120px;
    border-radius:50px;
    color:white;
    font-size:15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    left:1400px;
    top:20px;
}
.Game{
    position:absolute;
    top:200px;
    left:200px;
    font-size:40px;
    color:white;
    font-weight:900px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lorem{
    position:absolute;
    top:300px;
    left:180px;
    line-height:30px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
.button{
    background-color:rgb(255, 149, 0);
    height:50px;
    width:120px;
    border-radius:50px;
    color:white;
    font-size:15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    left:200px;
    top:410px;
}
.fakestmodel{
    position:absolute;
    left:1100px;
}
.idk1{
    background-color:white;
    width:200px;
    height:80px;
    border-radius:13px;
    position:absolute;
    top:200px;
    left:800px;
}
.k{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:800;
    position:absolute;
    top:10px;
    color:black;
    font-size:35px;
    left:70px;
}
.s{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top:50px;
    color:black;
    left:45px;
}
.idk2{
    background-color:white;
    width:200px;
    height:80px;
    border-radius:13px;
    position:absolute;
    top:500px;
    left:750px;
}
.n{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:800;
    position:absolute;
    top:10px;
    color:black;
    font-size:35px;
    left:70px;
}
.o{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top:50px;
    color:black;
    left:45px;
}
.students{
    position:absolute;
    top:800px;
    left:550px;
    font-size:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:900;
}
.All{
    position:absolute;
    top:950px;
    left:550px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.learn{
    position:absolute;
    background-color:rgb(255, 149, 0);
    border-radius:50px;
    color:white;
    font-size:15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    height:50px;
    width:120px;
    left:550px;
    top:1070px;
}
.co{
    position:absolute;
    top:1200px;
    left:200px;
    height:400px;
    width:1100px;
    background-color: rgb(98, 98, 176);
}
.hoo{
    position:absolute;
    top:20px;
    left:450px;
    font-size:30px;
    color:rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:40px;
}
.woo{
    position:absolute;
    top:1350px;
    left:300px;
    background-color:rgb(255, 255, 255);
    height:200px;
    width:400px;
    border-radius:8px;
}
.Gamee{
    position:absolute;
    top:50px;
    left:50px;
    font-size:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(41, 35, 80);
    line-height:50px;
}
.koo{
    position:absolute;
    top:1350px;
    left:800px;
    background-color:rgb(255, 255, 255);
    height:200px;
    width:400px;
    border-radius:8px;
}
.Kamee{
    position:absolute;
    top:50px;
    left:30px;
    font-size:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(41, 35, 80);
    line-height:50px;
}
.Alll{
    position:absolute;
    background-color:rgb(255, 149, 0);
    border-radius:50px;
    color:white;
    font-size:15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    height:50px;
    width:120px;
    left:350px;
    top:200px;
}